@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
}

.container {
    /* width: 90%; */
    height: 100vh;
    margin: 0 auto;
    /* background-color: sandybrown; */
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
    margin-left: 40px;
}

.logo-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #000000;
}


.right-section img {
    width: 50vw;
    height: 90vh;
    padding: 32px;
}

.signin-section {
    position: absolute;
    left: 130px;

}

.sign-in-form {
    width: 360px;
    height: 517px;
    /* background-color: salmon; */
    margin: 0 auto;
}

.check-in-forpas {
    display: flex;
    justify-content: space-between;
}

.checkbox {
    display: flex;
}

.width-input {
    width: 360px;
    height: 44px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    margin-bottom: 10px;
}

.signin-btn {
    margin-bottom: 16px;
    background-color: #5429FF;
    color: #fff;
    border-radius: 8px;
    width: 360px;
    height: 44px;
    border: none;
    font-weight: 500;
    font-size: 16px;
}

.google-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 90px;
    gap: 10px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    width: 360px;
}